.Category {
    span {
        display: inline-block;
        padding: 8px 16px;
        background: rgba(255, 255, 255, 1);            
        border-radius: 4px;
        font-weight: 700;
        color: #ff153c;
        .v {
            font-size: 20px;
        }
    }
    &.thumbStyle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}