.MyMenuBtn {
    button {
        position: relative;
        width: 2.333rem;
        height: 2.333rem;
        background-image: url(../../../assets/images/icon_MyMenuBtn.webp);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &::before {
        content: '';
        position: absolute;
        top: -1em;
        left: -1em;
        right: -1em;
        bottom: -1em;
        background-color: transparent;
        z-index: -1;
    }
    &:hover + .MyMenuContent {
        visibility: visible;
        opacity: 1;
    }
}

.MyMenuContent{
    position: fixed;
    top: 5rem;
    right: 1.333rem;
    min-width: 20rem;
    box-sizing: border-box;
    margin-top: -2px;
    padding: 1.5rem 0 1.167rem;
    opacity: 1;
    border-radius: 2px;
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.5);
    border: solid 1px #4d4d4d;
    background-color: #212121;
    visibility: hidden; 
    opacity: 0; 
    -webkit-transition: visibility 0s linear 0.2s,opacity 0.2s,-webkit-transform 0.2s;
    transition: visibility 0s linear 0.2s,opacity 0.2s,transform 0.2s;
    -webkit-transform: translate(0,-10px);
    -moz-transform: translate(0,-10px);
    -ms-transform: translate(0,-10px);
    transform: translate(0,-10px);

    &::before {
        content: '';
        position: absolute;
        top: -1em;
        left: -1em;
        right: -1em;
        bottom: -1em;
        background-color: transparent;
        z-index: -1;
    }

    &:hover {
        visibility: visible;
        opacity: 1;
        transform: translate(0,0);
        -webkit-transition: visibility 0s linear 0s,opacity 0.2s,-webkit-transform 0.2s;
        transition: visibility 0s linear 0s,opacity 0.2s,transform 0.2s;
    }

    .profile{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 1.667rem;

            .profile_img{
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 4px;
                overflow: hidden;
                background-color: rgba(255,255,255,0.1);
            }
            .profile_info{
                min-width: 70%;
                padding-left: 1.25rem;

                p{
                    width: 100%;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    font-size: 1.25rem;
                    font-weight: 500;
                    white-space: nowrap;
                    word-break: keep-all;
                    color: #fff;
                }
                button{
                    font-size: 0.81em;
                    padding-top: 0.333rem;
                    font-size: 1rem;
                    color: #a3a3a3;
                    -webkit-transition: color 0.1s;
                    transition: color 0.1s;
                    
                    &::after{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-top:1px solid #a3a3a3;
                        border-right:1px solid #a3a3a3;
                        transform: rotate(45deg);
                        margin-left: 5px;
                    }
                    &:hover {
                        color: #dedede;
                    }
                    &:hover::after{
                        border-color: #fff;
                    }
                }
            }
    }
        li{
            a{
                display: inline-block;
                width: 100%;
                padding: 0.5rem 1.667rem;
                font-size: 1.25rem;
                line-height: 1.5;
                color: #a3a3a3;
                -webkit-transition: color 0.1s;
                transition: color 0.1s;

                &:hover {
                    background-color: #2e2e2e;
                    color: rgba(255,255,255,1);
                }
            }
        }
}
    
hr{
    width: auto;
    margin: 1.667rem 0 1.167rem;
    border-width: 1px 0 0 0;
    border-color: #a3a3a3;
}