.MyBtn {
    button {
        width: 36px;
        height: 36px;
        background-image: url(https://image.tving.com/upload/profile/default.png/dims/resize/100);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}