.SearchBtn{
    width: 36px;height: 36px;
    background-image: url(https://www.tving.com/img/icon_search.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -9999px;
}