.TagList {
    display: flex;
    align-items: center;
    .tag {
        height: 32px;
        line-height: 32px;
        margin: 8px 8px 0 0;
        padding: 0 6px 1px;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 1px inset;
        font-size: 16px;
        color: rgba(255,255,255, 0.7);
        white-space: nowrap;
    }
    .tag_age {
        width: 32px;
        height: 32px;
        margin: 8px 8px 0 0;
        background-size: 32px auto;
        background-repeat: no-repeat;
        &_all {
            background-image: url(https://www.tving.com/img/tag_cmmg_all.svg);
        }
        &_12 {
            background-image: url(https://www.tving.com/img/tag_cptg_12.svg);
        }
        &_15 {
            background-image: url(https://www.tving.com/img/tag_cptg_15.svg);
        }
        &_19 {
            background-image: url(https://www.tving.com/img/tag_cptg_19.svg);
        }
    }
}
