.footer{
    position: relative;
    padding-bottom: 10rem;
    padding-top: 7rem;
    padding-left: 4rem;
    padding-right: 3.888rem;
    font-size: 1.25rem;
    color: rgb(110, 110, 110);
    .wrapper{
        position: relative;
    }
    .util{
        padding: 1.667rem 0px;
        color: rgb(163, 163, 163);
        border-top: 0.083rem solid rgb(33, 33, 33);
        display: flex;
        .linkList{
            li{
                display: inline-block;
                vertical-align: middle;
                white-space: nowrap;
                a{
                    color: inherit;
                    font-size: inherit;
                    margin-right: 1.667rem;
                    transition: color 0.1s ease 0s;
                    white-space: nowrap;
                    &.bold{
                        font-weight: 700;
                    }
                }
            }
        }
        .selWrapper{
            display: flex;
            margin-left: auto;
            .sel{
                display: flex;
                .border{
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                }
            }
        }
    }
    .copyright{
        margin-top: 1.5rem;
        font-size: 1.083rem;
        opacity: 1;
    }
}