.tag_wrap{
    display: flex;
    margin-top: -0.5rem;
    flex-wrap: wrap;
    .tag{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 0 .2em;
        padding: 0 .5em;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border-radius: .2em;
        height: 1.666rem;
        font-size: .917rem;
        margin: 0.5rem 0.5rem 0px 0px;
        padding-bottom: 0.05em;
        white-space: nowrap;
        height: 2rem;
        font-size: 1.167rem;
        &-blank{
            box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.3);
            color: hsla(0,0%,100%,.7);
        }
        &-age{
            width: 2rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: contain;
            text-indent: -9999px;
            &-cptg{
                &-7{
                    background-image: url(/assets/images/tag_cptg_7.svg);
                }
                &-12{
                    background-image: url(/assets/images/tag_cptg_12.svg);
                }
                &-15{
                    background-image: url(/assets/images/tag_cptg_15.svg);
                }
                &-19{
                    background-image: url(/assets/images/tag_cptg_19.svg);
                }
            }
            &-cmmg{
                &-all{
                    background-image: url(/assets/images/tag_cmmg_all.svg);
                }
                &-12{
                    background-image: url(/assets/images/tag_cmmg_12.svg);
                }
                &-15{
                    background-image: url(/assets/images/tag_cmmg_15.svg);
                }
                &-18{
                    background-image: url(/assets/images/tag_cmmg_18.svg);
                }
            }
        }
    }
}